@import url('https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap');
*{
    font-family: "Sanchez", serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 18px;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;
}
.login-button{
   font-size: 1.3rem;
   padding: 0.6rem 2.3rem;
   border-radius: 1000px;
   cursor: pointer;
}
header, main{
    padding: 1rem 1.5rem;
}
section{
    margin-bottom: 1.5rem;
}
.section1 > h1{
    font-size: 5rem;
    margin-bottom: 1rem;
}
.section2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section2 p, .menu p{
    font-size: 1.36rem;
}
.section2 .buttons{
    display: flex;
    gap: 1rem;
}
.section2 button{
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid black;
    border-radius: 100px;
}
.section2 button.selected, .section2 button:hover{
    border: 2px solid #F5BD02;
    border-radius: 100px;
    background-color: black;
    color: #F5BD02;
}
.section3 .image-card{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.card-images {
  width: calc((100% / 4) - .4rem);
  height: 200px;
  object-fit: cover;
  cursor: pointer;
  transition: box-shadow 0.3s ease, filter 0.3s ease;
}
.card-images:hover{
    filter: brightness(0.7);
    transform: scale(1.03);
}
#lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.8);
  text-align: center;
  padding-top: 2rem;
}
.lightbox-container{
    width: 100%;
    height: 97%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.big-img-container{
    position: relative;
}
#big-img {
    max-height: 75vh;
    height: auto; 
    width: auto; 
    /* object-fit: contain; */
}

#closeBtn {
  position: absolute;
  top: 0;
  right: 20px;
  padding: 0;
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
}

.controls {
  margin-top: 1rem;
}

.controls button {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid black;
    border-radius: 100px;
}
.controls button:hover {
    border: 2px solid #F5BD02;
    border-radius: 100px;
    background-color: black;
    color: #F5BD02;
}
